{% extends 'polls/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>

{% block content %}
<section class="page-content">
	<section class="page-hero page-hero-small">
		<div class="container-small journal-hero">
			<h1 class="page-title"> Description du projet</h1>
			<div class="hero-buttons">
				<a href="{% url 'polls:enregistrer' %}" class="btn btn-primary btn-large">
					Ajouter un rêve
					<span class="btn-arrow">→</span>
				</a>
				<a href="{% url 'polls:profil' %}" class="btn btn-outline btn-large">
					Mettre à jour le profil
				</a>
			</div>
		</div>
	</section>
        
        <div class="description-content">
            <h2>À propos de ce projet</h2>
             <div class="consent-content">
                        <p>L’enquête étudie  les récits de rêves et les liens avec la position sociale du rêveur (classe sociale, métier, niveau d’études, et de revenu, genre, âge et d'autres caractéristiques sociales). Cette collecte comprend vos récits audio, ainsi qu’un questionnaire permettant de comprendre vos caractéristiques sociales. Les seules personnes qui auront accès aux données brutes sont Maud Yaïche et ses directeurs de thèse, Jean-Philippe Cointet et Nicolas Duvoux.</p>

                        <p>Les traitements statistiques portent sur des données audio, la transcription de ces enregistrements et le croisement avec les réponses au questionnaire. Aucune donnée ne sortira des serveurs de Sciences Po ni d'un ordinateur sécurisé en local. Les données brutes seront supprimées 10 ans après la collecte.</p>

                        <p>L'enquête fera l'objet d'une thèse, de publications scientifiques sous forme de chapitres d'ouvrages, d'un livre et d'articles scientifiques. Pour les publications, vous ne pourrez pas être identifié individuellement. Si vous y consentez, des extraits de texte de vos rêves pourront être publiées.</p>

                        <p>La base légale de ce projet est le consentement. Vous pouvez retirer votre consentement sur le site si vous changez d'avis et, après cette période, vous pouvez adresser un mail à <a href="mailto:maud.yaiche@sciencespo.fr">maud.yaiche@sciencespo.fr</a></p>
             </div>
            
            <h2 class =".demi_titre">Comment ça marche ?</h2>
            <p>Vous pouvez enregistrer vos rêves de manière audio ou écrite...</p>
            
            <h2>Mentions légales</h2>
            <p>Vos données sont protégées et utilisées uniquement dans le cadre de cette recherche...</p>
        </div>
    </div>
</section>
{% endblock %}
