{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<h1 class=hero-title>
    <span class="title-line">Explorez</span>
    <span class="tile-line highlight">vos rêves</span>
</h1>


<div>
<p> La vie est belle <p>
<div>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}